{{domainString}}

<button{{action "increaseData"}}>Increase</button>
<button{{action "decreaseData"}}>Decrease</button>

{{column-chart
    dimension=dimensions
    group=groups
    seriesData=content
    type='LAYERED'
    seriesMaxMin=2
    showMaxMin=true
    series=series
    colors=colors
    height=200
    xAxis=xAxis
    yAxis=yAxis
    showComparisonLine=true
    comparisonLine=comparisonLine
    currentInterval=currentInterval
    showCurrentIndicator=true
}}

{{line-chart
    dimension=dimensions
    group=groups
    seriesData=content
    type='LAYERED'
    seriesMaxMin=2
    showMaxMin=true
    series=series
    colors=colors
    height=200
    xAxis=xAxis
    yAxis=yAxis
    showComparisonLine=true
    comparisonLine=comparisonLine
    currentInterval=currentInterval
    showCurrentIndicator=false
}}

<button{{action "toggleDonut"}}>Toggle donut</button>
<button{{action "toggleTotal"}}>Toggle total</button>
{{pie-chart
    dimension=agentDimensions
    group=agentGroups
    seriesData=agentContent
    colors=colors
    height=400
    width=800
    showTotal=showTotal
    donutChart=donutChart
}}

{{outlet}}
