{{domainString}}<br/>

<button{{action "increaseData"}}>Increase</button>
<button{{action "decreaseData"}}>Decrease</button>

{{column-chart
    dimension=dimensions
    group=groups
    type='LAYERED'
    seriesMaxMin=2
    showMaxMin=true
    series=series
    colors=colors
    height=200
    xAxis=xAxis
    yAxis=yAxis
    onClick=(action onClick)
    showComparisonLine=true
    comparisonLine=comparisonLine
    currentInterval=currentInterval
    showCurrentIndicator=false
}}

{{line-chart
    dimension=dimensions
    group=groups
    seriesData=content
    seriesMaxMin=2
    showMaxMin=true
    series=series
    colors=colors
    height=200
    xAxis=xAxis
    yAxis=yAxis
    onClick=(action onClick)
    currentInterval=currentInterval
    showCurrentIndicator=false
}}

{{input type='checkbox' checked=hideXAxisLines}}Hide x tick lines<br/>
{{input type='checkbox' checked=showYTicks}}Show y ticks<br/>
{{input type='checkbox' checked=showYGridLines}}Show y tick lines<br/>
<button{{action "increaseQueue"}}>Increase</button>
<button{{action "decreaseQueue"}}>Decrease</button>
<div style='width: 40%'>
{{row-chart
    dimension=queueDimensions
    group=queueGroups
    colors=colors
    height=400
    labelWidth=150
    xAxis=yAxis
    onClick=(action onClick)
    hideXAxisLines=hideXAxisLines
    showYTicks=showYTicks
    showYGridLines=showYGridLines
    showMaxMin=true
    showComparisonLine=true
    comparisonLine=queueComparisonLine
    chartNotAvailableBars=6
}}
</div>

{{outlet}}
