{{domainString}} <br>

<div class="dummy-chart-container">
  {{heat-map
    dimension=heatDimension
    group=heatGroup
    height=400
    legendWidth=200
    keyFormat=keyFormat
    colors=heatColors
    colorMap=heatColorMap
    xAxis=xAxis
    yAxis=yAxis
    minBoxWidth=minBoxWidth
    currentInterval=currentInterval
    showCurrentIndicator=true
  }}
</div>

<button {{action "increaseData"}}>Increase</button>
<button {{action "decreaseData"}}>Decrease</button><br>
{{input type="checkbox" checked=showColumnLegend}}Show Legend<br>

{{column-chart
  dimension=dimensions
  group=groups
  type="GROUPED"
  seriesMaxMin=0
  series=oneSeries
  colors=colors
  height=200
  xAxis=xAxis
  yAxis=yAxis
  showComparisonLines=true
  comparisonLines=comparisonLines
  currentInterval=currentInterval
  showCurrentIndicator=true
  showLegend=showColumnLegend
  legendWidth=250
  labelOptions=labelOptions
}}

{{input type="checkbox" checked=showLineLegend}}Show Legend <br>
{{line-chart
  dimension=dimensions
  group=groups
  seriesMaxMin=2
  showMaxMin=true
  series=series
  colors=colors
  height=200
  xAxis=xAxis
  yAxis=yAxis
  showComparisonLines=true
  comparisonLines=comparisonLines
  currentInterval=currentInterval
  showCurrentIndicator=false
  showLegend=showLineLegend
  legendWidth=250
}}


{{input type="checkbox" checked=donutChart}}Donut <br>
{{input type="checkbox" checked=showTotal}}Total <br>
{{input type="checkbox" checked=labels}}Labels <br>
{{input type="checkbox" checked=labelsWithValues}}Labels With Values <br>
{{input type="checkbox" checked=externalLabels}}External labels <br>
{{input type="checkbox" checked=showPieLegend}}Show Legend <br>
{{pie-chart
  dimension=agentDimensions
  group=agentGroups
  colors=statusColors
  colorMap=colorMap
  height=400
  width=800
  showTotal=showTotal
  donutChart=donutChart
  externalLabels=externalLabels
  labels=labels
  labelsWithValues=labelsWithValues
  showLegend=showPieLegend
  legendWidth=200
}}

{{input type="checkbox" checked=hideXAxisLines}}Hide x tick lines <br>
{{input type="checkbox" checked=showYTicks}}Show y ticks <br>
{{input type="checkbox" checked=showYGridLines}}Show y tick lines <br>
{{input type="checkbox" checked=showRowLegend}}Show Legend <br>
<button {{action "increaseQueue"}}>Increase</button>
<button {{action "decreaseQueue"}}>Decrease</button>
<div class="dummy-chart-container">
  {{row-chart
    dimension=queueDimensions
    group=queueGroups
    colors=colors
    height=400
    xAxis=yAxis
    hideXAxisLines=hideXAxisLines
    showYTicks=showYTicks
    showYGridLines=showYGridLines
    showMaxMin=true
    showComparisonLine=true
    comparisonLine=queueComparisonLine
    chartNotAvailableBars=6
    showLegend=showRowLegend
    legendWidth=300
  }}
</div>

{{input type="checkbox" checked=showBubbleLegend}}Show Legend <br>
<div class="dummy-chart-container">
  {{bubble-chart
    dimension=statusDimension
    group=statusGroup
    radiusFormat=radiusFormat
    height=500
    titleFormatter=titleFormatter
    subtitleFormatter=msSubtitleFormatter
    colors=statusColors
    showLegend=showBubbleLegend
    legendWidth=200
  }}
</div>

{{outlet}}